<!DOCTYPE html>
<HTML>
<HEAD>

	<TITLE> ZTREE DEMO - Simple Data</TITLE>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">

    %include site_media.html media_prefix=media_prefix

	<link rel="stylesheet" href="/{{media_prefix}}/zTree_v3/css/demo.css" type="text/css">
	<link rel="stylesheet" href="/{{media_prefix}}/zTree_v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
	<script type="text/javascript" src="/{{media_prefix}}/zTree_v3/js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="/{{media_prefix}}/zTree_v3/js/jquery.ztree.core.js"></script>
	<!--  <script type="text/javascript" src="../../../js/jquery.ztree.excheck.js"></script>
	  <script type="text/javascript" src="../../../js/jquery.ztree.exedit.js"></script>-->
	<SCRIPT type="text/javascript">

		function nginx_gaiyao() {
			parent.document.getElementById("nginx_view").src="/nginxview";
        }
		function nginx_reload() {
			parent.document.getElementById("nginx_view").src="/nginx_reload";
        }

        function onClick(event, treeId, treeNode, clickFlag) {
			if (!treeNode.isParent){
			    var key_type= treeNode.getParentNode().name
				var file_name=treeNode.getParentNode().getParentNode().name
                if (key_type=="upstream"){
			        parent.document.getElementById("nginx_view").src="/upstream_edit?upstream_name="+treeNode.name+"&file_name="+file_name;
                }
                else if  (key_type=="servers"){
                    parent.document.getElementById("nginx_view").src="/server_edit?server_name="+treeNode.name+"&file_name="+file_name;
                }
			}
		}


		var setting = {
			data: {
				simpleData: {
					enable: true
				}
			},
			callback: {
						onClick: onClick
					}
		};

		var zNodes ={{ nginx_tree }};

		$(document).ready(function(){
			$.fn.zTree.init($("#nginxtree"), setting, zNodes);
		});

	</SCRIPT>
 </HEAD>

<BODY>






        <div class="accordion-group">
		    <div class="accordion-heading">
	         <div id="search" class="control-group" style="font-size:large; padding-top:10px; padding-left:10px">
			 	nginxAdmin
				<div style=" text-align:right; font-size:small; margin-right:5px; margin-top: 8px">
					检测配置
					重启

					<div  id="nginx_reload" onclick="nginx_reload()" style="display:inline">重载</div>
					<div  id="nginx_gaiyao" onclick="nginx_gaiyao()" style="display:inline">概要</div>
					<a href="/auth/logout" target="_top">退出</a>
				</div>
		     </div>
		    </div>
		    <div class="accordion-body">
				<div class="accordion-inner">
					<div id="nginxtree" class="ztree"></div>
				</div>
		    </div>
		</div>

</BODY>
</HTML>